.navbar{
    background-color: #1c2237;
    color: white;
    width: 100%;
    /* display: flex; */
    position: fixed;
}

.name{
    /* text-align: center  ; */
    float: left;
}
.navbar-links {
    /* padding: 10px; */
    padding-right: 20px;
    /* margin-top: 5px; */
    margin-bottom:0px;
    margin-left: 10px;
    list-style: none;
    display: flex;
    


}   
.item{
    text-decoration: none;
    color: white;
    font-size: 23px;
}
.item:hover{
    color: red;
}
.finger{
    /* padding-top:10px; */
    margin-bottom: 0;
    margin-left: 38%;
    font-size: 40px;
    float: right;
}

.nav-item{
    padding: 10px;
}

.links{
float: right;
margin-left: 1000px;
}

.signup{
    border: 1px solid white;
    color: white;
    margin-top: 11PX;


}
.signup:hover{
    color: red;
}

.navsignup{
    float:left;

    margin-right: 1200px;
}

.liitem {
    display: inline-block;
    position: relative;
    color: red;
  }
  
  .liitem:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .liitem:hover:after {
      /* background-color: black; */
    transform: scaleX(1);
    transform-origin: bottom left;
  }
