footer{
    background-color: #1c2237;
    position: fixed;
    /* display: flex; */
    width: 100%;

    bottom: 0;
    padding-bottom: 15px;


}
.textrow{
    padding-top: 15px;
    color: white;
    text-align: center;
}
.searchboxrow{
    text-align: center;
}
.searchbox{
    /* size: 50px; */
    margin-left: 30%;
    align-content: center;
    width: 30%;
    float: right;
}
.subscribebtn{
    border: 1px solid white;
    float: left;
    color: white;
}